/* ROOT */
:root {
  --main-font-family: "Roboto", "Arial", sans-serif; 
  --main-font-weight: 400;
  --main-body-bg-color: #fff;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--main-body-bg-color);
}

img {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-main {
  flex-grow: 1;
}

.drag-and-drop-title {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 40px;
  text-align: center;
}

.site-link-list {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  gap: 12px;
}

.site-link-item {
  overflow: hidden;
  max-width: 330px;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0 5px 30px 0 rgb(0, 0, 0);
  border: 2px solid #fff;

  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    border-color: #000;
    box-shadow: none;
  }
}

@media only screen and (max-width: 1054px) {
  .site-link-list {
    justify-content: center;
  }
}